*.pyc
*.pyo
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
downloads/*
eggs/*
fake-eggs/*
parts/*
develop-eggs
.installed.cfg
.mr.developer.cfg
_build/
include/
lib

.DS_Store
*.sqlite3
*.sublime-project
*.sublime-workspace

var
sphinx-build.log
sphinx-latex.log
pip-selfcheck.json