p {
    font-family: Arial;
}

h2, h3 {
    font-size: 30px;
    color: green;
}

.jumbotron {
    background-color: #eee;
}


div.navbar-header {
    float: left;
}

.navbar-inverse{
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    border-radius: 0;
}