.container_12 {
    width: 980px;
    padding: 0 10px;
    margin: auto;
    background: #aaa;
    font-size: 30px;
}

.grid_3, .grid_9, .grid_12 {
    float: left;
    margin: 0 10px;
}

.grid_3  { width: 220px; }
.grid_9  { width: 700px; }
.grid_12 { width: 940px; }

header { background: #429032; }

nav { background: #2963BD; }

section { background: #c90; }

footer { background: #c03; }

header, footer { height: 150px; }

nav, section { height: 440px; }


@media (max-width: 980px) {
    .container_12 {
        width: 768px;
    }
    .container_12 .grid_12 {
        width: 728px;
    }
    .container_12 .grid_9 {
        width: 508px;
    }
    .container_12 .grid_3 {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .container_12 {
        width: 640px;
    }
    .container_12 .grid_12 {
        width: 600px;
    }
    .container_12 .grid_9 {
        width: 420px;
    }
    .container_12 .grid_3 {
        width: 160px;
    }
}

@media (max-width: 640px) {
    .container_12 {
        width: 480px;
    }
    .container_12 .grid_3 {
        height: 50px;
    }
    .container_12 .grid_3,
    .container_12 .grid_9 ,
    .container_12 .grid_12 {
        width: 440px;
    }
}

@media (max-width: 480px) {
    .container_12 {
        width: 320px;
        padding: 0;
    }
    .container_12 .grid_3,
    .container_12 .grid_9 ,
    .container_12 .grid_12 {
        width: 300px;
    }
}
